<nav class="navbar">
        <div class="navbar-brand"><img src="{{url_for('static', filename='images/logo_karaOU.png')}}" alt="logo" class="logo"> KaraOU Booking</div>
        <div class="navbar-menu">
            <a href="{{ url_for('home') }}">Trang chủ</a>
            <a href="{{ url_for('booking') }}">Đặt phòng</a>
            <a href="{{ url_for('services') }}">Dịch vụ</a>
            <a href="{{ url_for('payment_list') }}">Thanh toán</a>
            <a href="{{ url_for('reports') }}">Báo cáo</a>
            <div class="user-info">
                <span>👤</span>
                <span>Nhân viên</span>
            </div>
        </div>
    </nav>