<nav class="navbar">
        <div class="navbar-brand"><img src="{{url_for('static', filename='images/logo_karaOU.png')}}" alt="logo" class="logo"> KaraOU Manager</div>
        <div class="navbar-menu">
            <a href="#dashboard">Dashboard</a>
            <a href="#booking">Đặt phòng</a>
            <a href="#services">Dịch vụ</a>
            <a href="#payment">Thanh toán</a>
            <a href="#reports">Báo cáo</a>
            <div class="user-info">
                <span>👤</span>
                <span>Nhân viên</span>
            </div>
        </div>
    </nav>